.ckus_top_page {
    .ckus_name {
        top: 1.80in;
        left: 0.85in;
        font-size: 0.8em;
    }
    .ckus_payee_addr {
        top: 1.95in;
        left: 0.85in;
        font-size: 0.8em;
    }

    .ckus_memo{
        top: 2.70in;
        left: 0.67in;
        width: 5.9in;
        text-align: left;
        font-size: 0.8em;
        overflow: hidden;
    }
}