
.about-header{
    font-family: @regular-font !important;
    font-size: 41px;
    color: @title-color;
    }

.banner-wrapper{
    img{
        height: 450px;
        width: 100%;
        object-fit: cover;
        @media (max-width: 767px){
            height: 300px;
        }
    }
}

.section-title{
        font-family: @medium-font !important;
        font-size: 32px;
        line-height: 38px;
        color: @text-color;
        margin: 50px 10px 10px;
        text-align: center;
    }
.section-description{
    .sub-title{
        text-align: center;
        font-size:32px;
        font-family: @regular-font !important;
        color: @text-color;
        line-height: 50px;
        &.medium-font{
            font-family: @medium-font !important;
        }
    }
    p{
        color: @text-color;
        font-size: 17px;
        font-family: @light-font;
        line-height:33px;
        span{
            font-family: @bold-font;
        }
    }
    .story-list{
        display:flex;
        border-bottom: 1px dashed @blue;
        padding-bottom: 15px;
        margin-bottom: 15px;
        &:last-child{
            border-bottom: none;
        }
    &.link{
     border-bottom: 0px dashed @blue;
        padding-bottom: 0px;
        margin-bottom: 5px;
        .bulleted-list{
            margin-right: 10px;
            position: relative;
            top: 7px;
                > div{
                border-radius: 0;
                    width: 20px;
                    height: 20px;
                    line-height: 18px;
                    i{
                        font-size: 18px;
                    }
                }
            }
            .list-description{
                .link-to{
                    font-size: 18px;
                    font-family: @bold-font;
                    line-height: 34px;
                    color: @red;
                }
            }
        }
        &.white-plus{
            border-bottom: 0px dashed @blue;
            padding-bottom: 0px;
            margin-bottom: 10px;
             .bulleted-list{
                margin-right: 10px;
                position: relative;
                top: 5px;
                > div{
                    i{
                        font-size: 28px;
                        line-height: 29px;
                    }
                }
             }
             .list-description{
                p{
                    color: @white;
                    font-family:@bold-font;
                    font-size: 20px;
                    line-height: 40px;
                    margin-bottom:0;
                }
            }
        }
    .bulleted-list{
        margin-right: 10px;
            > div{
                width: 30px;
                height: 30px;
                background: @red;
                border-radius: 50%;
                text-align: center;
                line-height: 30px;
                color: @white;
                font-size: 24px;
                font-family:@bold-font;
            }
        }
    }
}

.our-mission{
    background:@grey-bg;
    p{
        font-size: 38px;
        line-height: 50px;
        font-family: @light-font;
        color: @blue;
        text-align: center;
        padding: 40px 10px 10px;
        margin-bottom: 0;
         @media (max-width: 767px){
            font-size: 20px;
            line-height: 40px;
        }
    }
    .detail{
        text-align: center;
        padding: 20px 0;
        .name{
            color: @blue;
            font-family: @bold-font;
            font-size:18px;
            line-height: 28px;
        }
        .post{
            color: @blue;
            font-family: @regular-font;
             font-size:18px;
            line-height: 28px;
        }
    }
}

.help-section {
    p{
        font-family: @light-font;
        font-size:20px;
        line-height:34px;
        color:@text-color;
    }
    .help-box{
        text-align: left;
        padding-right: 40px;
        .box-title{
            color: @red;
            font-size: 20px;
            line-height: 26px;
            font-family: @bold-font;
            margin-bottom: 5px;
        }
        .box-content{
            font-size: 18px;
            line-height: 34px;
            font-family: @light-font;
            color: @text-color;
        }
    }

    &.step-process{
        .help-box{
             .box-title{
                color: @text-color;
            }
            .img-wrapper{
                height: 80px;
                width: 80px;
                background: #c42624;
                border-radius: 8px;
                margin: auto;
                padding: 5px;
                margin-bottom: 15px;
            }
        }
    }
}

.top-plus{
    background: #c42624;
    border: 5px solid #ffffff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    position: absolute;
    top: -22px;
    left: 0;
    right: 0;
    margin: auto;
    line-height: 40px;
    i{
        font-size: 26px;
    }
}
.benefit-wrapper{
    p{
        font-size: 20px;
        line-height: 34px;
        font-family: @bold-font;
        color: @text-color;
        text-align: center;
    }
}
.bg-black-with-img-2{
    background: url('../../images/home-bg.jpg');
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    &:before{
     background-color: rgba(#232e3f, 0.97);
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      width: 100%;
      top:0
    }
  .overlay{
    background-color: rgba(@text-color, 0.97);
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      width: 100%;
  }
  .additonal{
    h3{
        color: @white;
        font-family: @medium-font !important;
        font-size: 32px;
        line-height: 34px;
        letter-spacing: 3px;
    }
    p{
        font-size:18px;
        line-height: 33px;
        font-family: @regular-font;
        color: #c3c8cd;
    }
  }
  }
.bg-black-with-img{
    background: url('../../images/bg.png');
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    &:before{
     background-color: rgba(#232e3f, 0.97);
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      width: 100%;
      top:0
    }
  .overlay{
    background-color: rgba(@text-color, 0.97);
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      width: 100%;
  }

  .additonal{
    h3{
        color: @white;
        font-family: @medium-font !important;
        font-size: 32px;
        line-height: 34px;
        letter-spacing: 3px;
    }
    p{
        font-size:18px;
        line-height: 33px;
        font-family: @regular-font;
        color: #c3c8cd;
    }
  }
}

.list-item{
   display:flex;
   align-items: center;
   margin-bottom: 30px;
   .avatar-wrapper{
        background:@blue;
        height: 70px;
        width: 70px;
        border-radius: 50%;
        margin-right: 20px;
   }
   .list-content{
       .list-title{
            margin-bottom: 0;
            font-family: @bold-font;
            font-size:20px;
            line-height: 26px;
            color: @title-color;
       }
       .list-content{
            margin-bottom:0;
            line-height:26px;
       }
   }
}

.contact-us-section{
    .contact-info{
        padding: 40px;
    }
    .contact-title{
        color: @red;
        font-size: 20px;
        line-height: 26px;
        font-family: @bold-font !important;
    }
    .story-list{
        &.link{
            margin-bottom: 30px;
            .bulleted-list{
                top: 4px;
            }
            .list-description{
                p{
                    font-size: 18px;
                    font-family: @bold-font;
                    line-height: 26px;
                    margin-bottom: 0;
                }
                span{
                    font-size: 18px;
                    font-family: @regular-font;
                    line-height: 26px;
                    margin-bottom: 0;
                    color: @text-color;
                }
            }
        }
    }
    .get-in-touch{
        padding: 40px;
        background: #ebedee;
        height: 100%;
        border: 1px solid #d8d8d8;
        border-bottom: 8px solid @red;
        .title{
           font-size: 20px;
           line-height: 26px;
           font-family: @bold-font !important;
           color: @text-color;
        }
        .sub-title{
            font-size: 18px;
            font-family: @regular-font;
            line-height: 26px;
            color: @text-color;
        }
    }
}

.map-section{
    background: #ebedee;
    iframe{
        box-shadow: 10px 9px 0px #ced2d5;
    }
    .address-section{
        img{
            width: 200px;
            margin-bottom: 30px;
        }
        .company-name{
            font-size: 20px;
            color: @text-color;
            line-height: 28px;
            font-family: @bold-font;
            padding-left: 20px;
            margin-bottom:0;
        }
        .address{
            font-size: 18px;
            color: @text-color;
            line-height: 28px;
            font-family: @regular-font;
            padding-left: 20px;
            letter-spacing: 1px;
        }
    }
}


/*Home Page Css*/
.video-section{
    background: @white;
    .video-title{
        font-size: 42px;
        line-height:55px;
        font-family: @regular-font !important;
        color: @text-color;
    }
    iframe{
        border: 1px solid #000;
    }
}
.work-section{
background: #fafafa;
    .work-box{
            text-align: center;
            padding: 0 30px;
        .img-wrapper{
            width: 100%;
            height: 180px;
            position: relative;
            img{
                width: 200px;
                width: 200px;
                position: absolute;
                 top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
            }
        }
        .box-title{
            font-size: 20px;
            line-height: 26px;
            font-family: @bold-font;
            color:@red;
            margin-top: 10px;
        }
        .italic-text{
            font-size: 18px;
            line-height: 26px;
            font-family: @medium-font;
            font-style: italic;
        }
    }
}

.stock-hwak{
    margin-bottom: 30px;
}
.hawk-title{
    font-size: 22px;
    line-height: 26px;
    color: @text-color;
    font-family:@bold-font;
}

.link-wrapper{
    .link-btn{
        color: @red;
        font-size: 18px;
        line-height: 26px;
        font-family: @bold-font;
        &:hover{
            text-decoration: none;
        }
    }
}

.testimonial{
    background: url('../../images/testimonial.png');
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.testimonial{
    .top-plus{
        top: -100px;
    }
}

.common-problem-section{
    background: url('../../images/common.png');
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    &:before{
     background-color: rgba(#232e3f, 0.97);
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      width: 100%;
      top:0
    }
    &.additonal{
        h3{
            color: @white;
            font-family: @medium-font !important;
            font-size: 32px;
            line-height: 34px;
            letter-spacing: 1px;
        }
        p{
            font-size:18px;
            line-height: 33px;
            font-family: @regular-font;
            color: #c3c8cd;
        }
    }
    .border-dotted{
        border-right: 1px dotted #fff;
    }
    .common{
        display: flex;
        flex-direction: row;
        justify-content: center;
        .img-wrapper{
            width: 80px;
            height: 80px;

            border-radius: 8px;
            text-align: center;
            line-height: 78px;
            margin-right: 20px;
        }
        &.reduce{
         .img-wrapper{
            background: @red;
            }
        }

        &.improve{
         .img-wrapper{
            background: @blue;
            }
        }
        .list-content{
            margin-left: 20px;
            .title{
                font-size: 22px;
                line-height:33px;
                margin-bottom: 0;
                font-family: @bold-font;
                color: @white;
                margin-bottom: 10px;
            }
            ul{
                padding-left: 18px;
                li{
                    font-family: @regular-font;
                    font-size: 17px;
                    line-height: 36px;
                    color: #c3c8cd;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.order-listing{
    .list-title{
        color: #c42624;
        font-size: 20px;
        line-height: 26px;
        font-family: 'robotobold';
        margin-bottom: 15px;
    }
    ul{
        padding-left: 5px;

        list-style-type: "•";
        li{
            font-size: 18px;
            line-height: 26px;
            font-family: @light-font;
            margin-bottom: 20px;
            color: @text-color;
            padding-left: 5px;
        }
    }
}

.manufacturer{
    .section-title{
        font-family: @regular-font !important;
    }
    .manfaturer-box{
        height: 100%;
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 8px;
        text-align: center;
        img{
            height: 40px;
            object-fit: contain;
        }
    }
}

.our-process{
    background: url('../../images/process.png');
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    &.choose-sps{
        background: url('../../images/choose-sps.jpg');
    }
    &:before{
     background-color: rgba(#232e3f, 0.97);
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      width: 100%;
      top:0
    }

    .list-description{
        p{
            font-family: @regular-font !important;
        }
    }
}

.assured{
    ul{
        padding-left: 0;
        list-style: none;
        li{
            font-size: 20px;
            line-height: 34px;
            font-family: @light-font;
            margin-bottom: 10px;
            &:before{
                  content: '\e932';
                  font-family: 'icomoon' !important;
                  speak: never;
                  font-style: normal;
                  font-weight: normal;
                  font-variant: normal;
                  text-transform: none;
                  line-height: 1;

                  /* Better Font Rendering =========== */
                  -webkit-font-smoothing: antialiased;
                  -moz-osx-font-smoothing: grayscale;

                  width: 20px;
                  height: 20px;
                  background: @blue;
                  border-radius: 50%;
                  line-height:20px;
                  color: #fff;
                  margin-right: 10px;
                  position: relative;
                  top: 0;
                  padding: 3px;
                  font-size: 16px;
            }
        }
    }
}
.types{
    ul{
    padding-left: 25px;
       li{
            font-size: 20px;
            line-height: 34px;
            font-family: @bold-font;
            margin-bottom: 10px;
        }
    }
}
.ft-32{
    font-size: 32px !important;
    line-height: 38px !important;
}
.ft-18{
    font-size: 18px !important;
    line-height: 26px !important;
}

.quote-detail{
    .contact-detail{
        margin-bottom: 10px;
        i{
            font-size: 32px;
            position: relative;
            top: 8px;
        }
        a{
        color: #394a58;
        font-size: 18px;
        margin-left: 10px;
        font-family: @regular-font;
        line-height: 33px;
            &.red{
                color: @red;
            }
         &:hover{
            text-decoration: none;
         }
        }
    }
}

.s_faq_collapse{
    background: #f0f0f0;
   .accordion {
    .card{
        margin: 5px 0 10px;
        .card-header{
            line-height: 30px;
            background: @white;
            color: #9ca4ac;
            font-size: 18px;
            font-family: @regular-font;
          &:before{
            content: '\f056';
            font-family: 'FontAwesome';
            display: inline-block;
            margin: 0 .5em 0 .75em;
            color: #6c757d;
            font-size: 30px;
            color: @red;
            position: relative;
            top: 3px;
            }
            &.collapsed{
               &:before{
                content: '\f055';
                font-family: 'FontAwesome';
                }
            }
        }
        .card-body{
            p{
               font-size: 15px;
               line-height: 26px;
               color:#9ca4ac;
               font-family: @regular-font;
               margin-bottom:5px;
            }
        }
     }
   }
}

.stockhawk-page{
    .stockhawk-section{
       background: @black;
       .section-subtitle{
         font-size: 22px;
         line-height: 50px;
         font-family: @bold-font;
         color: @white;
         margin-bottom: 0;
       }
       .stock-hwak{
            img{
                height: 80px;
            }
       }
    }
}

.thank-you-page{
    .thanks-you{

        p{
            font-size: 20px;
            line-height: 26px;
            color: #616e79;
            font-family: @regular-font;
             padding-bottom: 80px;
            border-bottom: 1px dashed @blue;
            display: inline-block;
        }
    }
}

.surgical-product-sell{
    .works-steps-process{
        .no-seperated{
            position:relative;
            text-align: center;
            padding: 20px 0;
            .no-circle{
                font-size: 35px;
                color: #fff;
                font-family: @black-font;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                line-height: 60px;
                text-align: center;
                background: @blue;
                margin: auto;
                &:before{
                    content: ' ';
                    height: 3px;
                    border-top: 2px dotted @blue;
                    width: 45%;
                    position: absolute;
                    left: 0;
                    top: 50%;
                }
                &:after{
                    content: ' ';
                    height: 3px;
                    border-top: 2px dotted @blue;
                    width: 45%;
                    position: absolute;
                    right: 0;
                    top: 50%;
                }
            }
        }

        .targeted-products{
            .card{
                box-shadow: 10px 9px 0px #d7dbde;

                border:1px solid #76828b;
                .card-header{
                    border-radius: 0;
                    background: @black;
                    text-align: center;
                    font-size: 24px;
                    line-height: 28px;
                    font-family: @bold-font;
                    color: @white;
                    padding: 15px;
                }
                .card-body{
                    padding: 10px 60px;
                    border-bottom: 8px solid @red;
                }
                .title-seperater{
                    text-align: center;
                    position: relative;
                    padding: 40px 0;
                    .title{
                        font-size: 23px;
                        line-height: 27px;
                        font-family: @bold-font;
                        color: @red;
                        &:before{
                            content: ' ';
                            height: 3px;
                            border-top: 1px solid #b0b7bc;
                            width: 43%;
                            position: absolute;
                            left: 0;
                            top: 50%;
                        }
                        &:after{
                            content: ' ';
                            height: 3px;
                            border-top: 1px solid #b0b7bc;
                            width: 43%;
                            position: absolute;
                            right: 0;
                            top: 50%;
                        }
                    }
                }
            }
        }
    }
    .chart-wrapper{
            box-shadow: 10px 9px 0px #d7dbde;
        }
}


/*Shop Cart Page*/

.oe_website_sale {
padding-bottom: 50px !important;
    .wizard{
        .progress-wizard{
            .progress-wizard-step{
                .progress-wizard-bar{
                    background-color: #9399a2;
                    height: 1px;
                }
                .progress-wizard-dot{
                    margin: -0.7rem 0 0 -0.3125rem;
                    width: 1.5rem;
                    height: 1.5rem;
                    top: 0;
                    box-shadow: none;
                    border: 1px solid  #3d9cca;
                }
                .progress-wizard-steplabel{
                    font-size: 16px;
                    line-height: 26px;
                    font-family: @regular-font;
                    color: #616e79;
                    font-weight: 400;
                }
                &.active{
                    .progress-wizard-dot{
                        background: #3d9cca;
                        box-shadow: none;
                    }
                }
            }
        }
    }
    .table {
        &.js_cart_lines{
            border: 1px solid #d7dbde;
            thead{
                tr{
                    th{
                        background: @white;
                        font-size: 18px;
                        line-height: 34px;
                        font-family: @regular-font;
                        color: #9399a2;
                        font-weight: 400;
                        border: none;
                    }
                }
            }
            tbody{
                tr{
                   background: @white;
                    td{
                        border:none;

                        &.td-img{
                            width: 15%;
                            text-align: left;
                            span{
                                display: block;
                                height: 80px;
                                width: 80px;
                                background: #fff;
                                position: relative;
                                img{
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    right: 0;
                                    bottom: 0;
                                    margin: auto;
                                }
                            }
                        }
                        &.td-product_name{
                            width: 40%;
                            line-height:16px;
                            > div {
                                a{
                                    font-size: 14px;
                                    line-height:16px;
                                    font-family: @bold-font;
                                    color: @black;
                                }
                            }
                        }
                        &.td-qty{
                            width: 35%;
                            .css_quantity{
                                &.input-group{
                                    .js_add_cart_json{
                                        color: #3d9cca;
                                    }
                                    .input-group-prepend{

                                    }
                                     input.js_quantity{
                                        min-width: 40px;
                                        height: 36px;
                                        &:focus{
                                            outline: none;
                                            box-shadow:none;
                                            border-color: @blue;
                                        }
                                     }
                                }
                            }
                        }
                        &.td-price{
                            span{
                                font-size: 17px;
                                line-height:18px;
                                font-family: @regular-font;
                                color: @black;
                            }
                        }
                        &.td-action{
                            a{
                                i{
                                    font-size: 17px;
                                    line-height: 18px;
                                    color: #000000
                                }
                            }
                        }
                    }
                    &:nth-of-type(odd){
                        background-color: #e7e7e8;
                    }
                }
            }
        }
    }

    .btn{
        border-radius: 8px;
        &.btn-secondary{
            font-size: 15px;
            line-height: 18px;
            font-family: 'robotobold';
            background: @blue;
            border-color: @blue;
        }
        &.btn-primary{
            font-size: 15px;
            line-height: 18px;
            font-family: 'robotobold';
            background: #a32624;
            border-color: #a32624;
        }
    }

    .js_cart_summary{
        .card-body{
            padding: 0;
            padding-bottom: 30px;
            hr{
                margin:0;
                padding:0;
            }
            h4{
                font-size: 18px;
                line-height: 34px;
                font-family: @bold-font !important;
                color:@black;
                margin-bottom: 0;
                padding: 4px 15px;
            }
        }
        #cart_total{
            .table{
            margin-top: 20px;
                tr{
                    td{
                        padding: 0;
                        font-size: 18px;
                        line-height:18px;
                        font-family: @regular-font;
                        color: @black;
                        padding: 10px;
                    }
                }
            }
        }
        .btn{
            &.btn-secondary{
                font-size: 15px;
                line-height: 18px;
                font-family: 'robotobold';
                background: #9399a2;
                border-color: #9399a2;
                margin-right: 10px;
                margin-top: 10px;
            }
        }
    }
}

.login-form{
    background: #f0f0f0;
    .forgotPassword{
        padding: 0;
        font-size: 16px;
        line-height: 26px;
        font-family: @regular-font;
        color: @red;
        text-align: right;
        display: block;
        &:hover{
            text-decoration:none;
        }
    }
    .oe_login_buttons{
        position: relative;
        .signup-link{
            position: absolute;
            right: 0;
            top: -30px;
            padding: 0;
            font-size: 16px;
            line-height: 26px;
            font-family: 'robotoregular';
            text-align: right;
            a{
                color: @red;
                padding: 0;
                margin-top: -3px;
                text-decoration: none;
            }
        }
    }
}