.ks_list_view_container {
    .ks_list_view_heading {
        color: #212529;
    }
    .ks_counter {
        color: #212529;
    }
}
.ks_dashboarditem_chart_container .ks_chart_heading {
        color: #212529;
}
// .ks_dashboard_header #dropdownMenuButton{
//      color: #000;
//     background-color: #FFF;
//     border-color: #FFF;
//     box-shadow: 0;
//     color: #01666b;
// }

.ks_dn_create_chart .o_field_char input, .ks_dn_create_chart .o-autocomplete input, .ks_dn_create_chart .o_field_selection select, .ks_dn_create_chart textarea, .ks-char-preview .o_form_view .o_horizontal_separator:not(:empty), .ks-char-preview .o_inner_group.grid{color:#777 !important}
.ks_dashboard_header .config_dropdown .dropdown-item, .ks_dashboard_header .config_dropdown .dropdown-item:hover{color: #000 !important;}
.welcome_note h3, .welcome_note .h3{color: #000}
.ks_dashboard_header .config_dropdown .btn.btn-secondary.dropdown-toggle{background:transparent !important}

.ks_dashboard_item_button_container .ks_dashboard_item_chart_info {
    color: black;

}