

.nav-tabs .nav-item {
    margin-bottom: -1px;
    background: #f9f9f9 ;
}
.o_text_overflow {
 width:190px;

}

.o_kanban_view .o_kanban_record .o_kanban_record_title{
    overflow: hidden;
    word-break: break-all;
}


.o_kanban_view .oe_kanban_card .oe_kanban_details, .o_kanban_view .o_kanban_record .oe_kanban_details {
width: 100%;
overflow: unset;
text-overflow: ellipsis;
}