

// Shared with web client and login screen
.o_home_menu_background {
     background: url(/web_enterprise/static/src/img/home-menu-bg-overlay.svg),
        linear-gradient(to right bottom, #394a58, #d6e9f8) !important;
        /*linear-gradient(to right bottom, #77717e, #c9a8a9);*/
    background-size: cover;
    .o_caption {
        color: #fff !important;
        text-shadow: none !important;
    }
    .o_main_navbar .o_user_menu > a{
        color:#fff;
    }
    .o_main_navbar .o_user_menu .oe_topbar_avatar{
        background: #394A58;
    }
    .o_menu_systray{
        li{
            .badge{
                background-color: #C4262E !important;
                border-color: #C4262E !important}
            i{
                color: #fff !important;
            }
        }
    }
}
.o_menu_systray{
        li{
        .badge{
            background-color: #C4262E !important;
            border-color: #C4262E !important
        }
    }
}

.o_main_navbar .show .dropdown-toggle{
 background-color: #C4262E !important;
}
.o_main_navbar > a:hover{
    background-color: #C4262E !important
}

.o_main_navbar{
    border-bottom: 1px solid #394158;
    background-color: #394a58;
     ul > {
         li > {
           a{
            &:hover{
                background-color: #C4262E !important;
            }
           }
         }
     }
}
.o_searchview .o_searchview_facet .o_searchview_facet_label{
    background-color: #C4262E !important;
    border-color: #C4262E !important;
}
.btn{
    &.btn-primary{
        color: white;
        background: #c4262e;
        border-color: #c4262e;
        &:focus{
            outline:none;
            box-shadow:none;
        }
        &:not(:disabled):not(.disabled):active{
            background: #c4262e;
            border-color: #c4262e;
        }
    }
    &.btn-secondary{
        color: #c4262e;
    }
    &.btn-light{
        border-color: #f6f7fa;
        color: #212529;
        background: #FFF !important;
    }
}

.o_control_panel .breadcrumb > li a{
    color: #C4262E !important;
}

td{
    a{
    color: #C4262E !important;
    }
}

.o_ChatterTopbar_actions .btn-link{
    color: #C4262E !important;
}
.o_ChatterTopbar_actions .btn-link:hover{
    color: #C4262E !important;
}


//override the tab css to remove horizontal scroll
.o_notebook .nav {
    display: flex;
    flex-wrap: wrap !important;
}

//override css to remove vertical scroll
.o_notebook .o_notebook_headers{
    overflow-x: visible !important;
}

//override css of sales order line table
.o_section_and_note_list_view{
    table-layout:auto !important;
    }


// written this class to add custom css for product column in order line
.custom-column-width span {
    display:inline-flex !important;
    min-width:170px !important;
    white-space:normal !important;
    }



