@font-face {
    font-family: 'robotoblack';
    src: url('common/roboto-black-webfont.woff2') format('woff2'),
         url('common/roboto-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotobold';
    src: url('common/roboto-bold-webfont.woff2') format('woff2'),
         url('common/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotolight';
    src: url('common/roboto-light-webfont.woff2') format('woff2'),
         url('common/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotomedium';
    src: url('common/roboto-medium-webfont.woff2') format('woff2'),
         url('common/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotoregular';
    src: url('common/roboto-regular-webfont.woff2') format('woff2'),
         url('common/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Minion';
    src: url('common/MinionPro-Regular.woff2') format('woff2'),
        url('common/MinionPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
//Fonts Family
$regular-font: 'robotoregular';
$medium-font: 'robotomedium';
$light-font: 'robotolight';
$bold-font: 'robotobold';
$black-font: 'robotoblack';
$minion-font: 'Minion';

$title-color: #273345;
$text-color: #394a58;
$red: #c42624;
$white: #ffffff;
$black: #000000;
$blue: #3d9cca;
$grey-bg: #ebedee;


