<?xml version="1.0" encoding="UTF-8"?>
<odoo>
	<menuitem name="Activity Dashboard" id="sh_activity_dashboard" web_icon="sh_activities_management,static/description/icon.png" sequence="1" groups="sh_activities_management.group_activity_user,sh_activities_management.group_activity_supervisor,sh_activities_management.group_activity_manager" />
	<menuitem name="Configuration" id="menu_config" parent="sh_activity_dashboard" groups="sh_activities_management.group_activity_manager" sequence="4" />
</odoo>